@font-face {
  font-family: "Akaya Telivigala";
  src: url("../fonts/Akaya_Telivigala/AkayaTelivigala-Regular.ttf");
}
:root {
  /* box-sizing: border-box; */
}
body {
  background-color: lightgray;
  border: grey 1px solid;
  padding: 20px;
  margin: 20px;
}
h1 {
  font-family: "Akaya Telivigala";
  font-size: 1rem;
}
.pics {
  width: 100vw;
  height: 80vh;
  position: relative;
}
/* Style the images inside the grid */
.pic {
  position: absolute;
  background-color: whitesmoke;
  width: 30%;
  height: 30%;
  padding: 1% 1% 3% 1%;
  filter: grayscale(90%);
  border: black 1px solid;
  opacity: 0.7;
  z-index: auto;
}
#pic1 {
  top: 42%;
  left: 10%;
  transform: rotate(10deg);
  /* z-index: 1; */
}
#pic2 {
  top: 36%;
  left: 24%;
  transform: rotate(20deg);
  /* z-index: 2; */
}
#pic3 {
  top: 23%;
  left: 42%;
  transform: rotate(10deg);
  /* z-index: 3; */
}
#pic4 {
  top: 6%;
  left: 54%;
  transform: rotate(-15deg);
  /* z-index: 4; */
}
