@font-face {
  font-family: "Akaya Telivigala";
  src: url("../fonts/Akaya_Telivigala/AkayaTelivigala-Regular.ttf");
}
:root {
}
body {
  background-color: whitesmoke;
  border: grey 1px solid;
  padding: 20px;
  margin: 20px;
}
h1 {
  font-family: "Akaya Telivigala";
  font-size: 1rem;
}

/* Style the images inside the grid */
img {
  position: relative;
  display: inline-block;
  width: 9rem;
  height: 6rem;
  padding-top: 3px;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 12px;
  border: black 1px solid;
  /* padding: 20px; */
  /* margin: 20px; */
  opacity: 0.6;
}
#pic1 {
  top: 10vh;
  transform: rotate(10deg);
  z-index: 1;
}
#pic2 {
  top: 20vh;
  transform: rotate(20deg);
}
#pic3 {
  top: 30vh;
  transform: rotate(30deg);
  z-index: 1;
}
#pic4 {
  top: 40vh;
  transform: rotate(40deg);
}
